<!DOCTYPE html>
<head></head>
<body>
    <form action='/validate' method='POST'>
        <input type='text' placeholder='User' name='username'><br><br>
        <input type='text' placeholder='Password' name='password'><br><br>
        DOB:<input type='date'  placeholder='mm/dd/yyyy' name='date'><br><br>
        Gender:<input type='radio' name='Gender' value='Male'>Male &nbsp;<input type='radio' name='Gender' value='Female'>Female<br><br>
        Remarks:<input type='text'  name='Remarks'><br><br>
       <button type='submit'> Submit</button></form>
</body>
</html>