<!DOCTYPE html>
<head></head>
<body>
    <h1 style="text-align:center"><u>STUDENT MARKSHEET</u></h1>
    <form class="form" action="/validate" method='POST' id="form">
    <fieldset>
        <legend><u>STUDENT INFORMATION</u></legend>
        <table>
             <tr>
                 <td>Name &emsp;&emsp;&emsp;&emsp;&emsp;<input type="text" name="Name">&emsp;</td>
                 <td>Father Name &emsp;&nbsp;&nbsp;<input type="text" name="FatherName"></td>
             </tr>
             <tr>
                <td>Institute Name: &emsp;&nbsp;<input type="text" name="InstituteName">&emsp;</td>
                <td>Batch: &emsp;&emsp;&emsp;&emsp;<input type="text" name="Batch"></td>
            </tr>
             
        </table>
    </fieldset>
    <br>
    <fieldset>
        <legend><u>SUBJECTS MARKS</u></legend>
        <table>
             <tr>
                 <td>Office Automation &emsp;<input type="text" name="OfficeAutomation">Out of 100&emsp;</td>
                
             </tr>
             <tr>
                <td>Web Designing &emsp;&emsp;&nbsp;<input type="text" name="WebDesigning">Out of 100&emsp;</td>
            </tr>
            <tr>
                <td>IT &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;<input type="text" name="It">Out of 100&emsp;</td>
            </tr>
            <tr>
                <td>C#Programming: &emsp;&ensp;<input type="text" name="Programming">Out of 100&emsp;</td>
            </tr>
             
        </table>
        
        <legend><button>Submit</button><button> Reset</button></legend>
        
    </fieldset>


</form>
</body>
</html>
